* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dolasma {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}
.carousel-item {
  max-height: calc(100vh - 88px);
}

.card-title-icon {
  height: 2rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.4rem;
}

/* Psikologlar */

.psikolog {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
}
.foto {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.2rem 0.7rem 1rem;
}
.foto span.durum {
  margin-top: 0.5rem;
  font-weight: 700;
  color: green;
  text-align: center;
}
.psikolog .foto img {
  border: 4px solid transparent;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  outline: rgb(34, 116, 107) solid 1px !important;
  vertical-align: middle;
}

.content-psikolog {
  padding: 1rem 2rem 2rem 2rem;
}
.content-psikolog span.psikolog-fiyat {
  font-weight: 700;
}
.content-psikolog .psikolog-liste {
  list-style-position: inside;
}

.content-psikolog .psikolog-liste ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.content-psikolog .psikolog-liste ul li {
  border: 1px solid red;
  border-radius: 20px;
  padding: 8px;
  background-color: lightcyan;
  margin-right: 3px;
}
.psikolog-oz-btn {
  border: 1px solid gray;
}
.psikolog-oz-btn:hover {
  transform: scale(1.1);
}

.psikolog-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.psikolog-buttons button {
  margin-bottom: 0.6rem;
}
